.bg-booking {
    background-color: rgb(249, 250, 251);
    box-shadow: 3px 5px 5px 5px #9c9c9c;
  }
  
  .text-name {
    font-size: 120%;
    color: black;
    background-color: white;
  }
  .text-namee:hover {
    color: white;
    background-color: rgb(73, 149, 236);
  }
  
  main {
    font-family: system-ui;
  }