.bg-ss1 {
    background-color: white;
    border: solid 1px gray;
}

.title-page {
    color: rgb(5, 5, 77) !important;
}

.card-text {
    font-size: 1.2rem;
}

.sick-title {
    font-weight: 700;
    font-size: 1.4rem;
    margin: auto;
    color: black;
}

.sick-content,
.branch-position {
    font-size: 1.1rem;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 10%;
    color: white;
    text-shadow: 4px 4px 3px #000000;
}

.title-relate {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 45px;
}

.aboutus {
    text-decoration: underline rgb(189, 5, 5);
}

.button-style {
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 25px;
}



li {
    padding-top: 20px;
    font-size: 400;
}

main {
    font-size: 1rem;
}

.detail {
    color: white;
    font-size: 1.2rem;
}

.detail:hover {
    color: rgb(173, 7, 7);
    font-weight: 600;
    cursor: pointer;
}

.contact-content {
    background-image: url(../../assets/images/cat-contact.jpg);
    opacity: 85%;
    padding: auto;
    padding: 30px;
    font-size: 1.1rem;
    line-height: 28px;
}
input:focus{
   
    outline: none !important;
    border: none !important;
}
.frame-contact{
    background-color: #e5e1d9;
    border: 2px solid white;
}
.button-submit{
    background-color: rgb(182, 7, 7);

     font-size: 1.2rem;
     border-radius: 25px;
}
.button-submit:hover{
    background-color: rgb(131, 7, 7);
}